* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
    user-select: none;
}

body {
    height: 100%;

}

.container {
    min-height: 100vh;
    max-width: 1400px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.movie-card {
    width: 320px;
    height: 500px;
    border-radius: 35px;
    position: relative;
    box-shadow: 0 10px 20px #0f274d;
}

.movie-card-second {
    margin-top: 50px;
}

.movie-card .content-card,
.movie-card .watch-card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 35px;
    overflow: hidden;
    cursor: pointer;
}

.movie-card .watch-card {
    background-image: radial-gradient(circle, #daf700, #d2e300, #c9cf00, #bebc00, #b3a900);
    z-index: -1;
}


.movie-card .watch-card button {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0%);
    border: none;
    outline: none;
    background: none;
    color: #eee;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
}


.movie-card .content-card {

    width: 100%;
}


.movie-card .content-card:hover {
    top: -40px;
}


.movie-card .content-card:hover img {
    transform: scale(1.2);
}

.movie-card-second .content-card img {
    transform: scale(1.2);
}

.movie-card-second .content-card:hover img {
    transform: scale(1);
}

.movie-card .content-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.movie-card .content-card .shadow {
    width: 100%;
    height: 170px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0f274d;
    box-shadow: 0 0 10px 20px #123364;
    filter: blur(10px);
}



.content {
    position: absolute;
    color: #eee;
    bottom: 20px;
    width: 100%;
    padding: 20px 25px;
}

.content h1 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2.2em;
}

.content .date {
    color: #aaa;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 0.75em;
}

.content b {
    margin: 5px 0;
    display: inline-block;
}

.content .stars {
    margin: 8px 0;
    font-size: 0.9em;
    color: #eee;

}

.stars span {
    color: orange;
    display: flex;
    align-items: center;
    gap: 5px;
}

.movie-card .content-card .content .hex-tag {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.movie-card .content-card .content .hex-tag .tag {
    background: rgba(200, 200, 200, 0.2);
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.85em;
}

.angle-up {
    position: absolute;
    left: 45%;
    bottom: -15%;
    transform: translate(0%, -50%);
    font-size: 1.8em;
    color: #aaa;
}

@media (min-width: 0px) and (max-width: 700px) {
    body {
        grid-template-columns: auto;
        gap: 50px;
        margin: 60px 0;
    }

    body:after {
        top: -40px;
        height: calc(100% + 590px);
    }
}